{% extends 'home/base.html' %}

{% load static %}

{% block content %}

    <div class="span12 aboutcodes">

        <h1 class="bt1">{{ title }}</h1>

        {% if data %}
            {% for d in data %}
                <div class="row top">

                    <div class="span6 txt">
                        <div class="span12 titl left">{{ d.titl }}</div>
                        <div class="span12 desc left">{{ d.desc }}</div>
                        <div class="span12 cost left">Цена: {{ d.cost }}</div>
                    </div>

                    <div class="span6 pic">
                        {% if d.phot %}
                            <img class="imgs" src="{{ d.phot.url }}" alt="">
                        {% else %}
                            <img class="imgs" src="{% static 'home/images/no-photos.png' %}" alt="">
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <p>No</p>
        {% endif %}
    
    </div>

{% endblock %}